/* Experience_information_input_container  class */
@import url(/styles/registration_style/input_main_style.css);

#section--3{
    background-image: url(/Picture/page_3.svg);
}


.experience_container{
    position: absolute;
    top: 407px;
    padding-inline: 16px;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.dropdown_Seclect{
    display: flex;

}
.select{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid black;
}
.select .arrow{
    margin-left:30px ;
}
.selected {
    width: 312px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.arrow-rotate{
    transform: rotate(225deg);
}
.menu{
    list-style: none;
    opacity: 0;
    display: none;
    cursor: pointer;
    position: absolute;

}
.menu-open{
    display: block;
    opacity: 1;
}

.menu li{
    display: flex;
    align-items: center;
    width: 385px;
    justify-content: space-between;
    padding-inline: 15px;
    position: relative;
    background-color: white;
    font-size: 18px;
    font-weight: 400;

}
.level li{
    height: 40px;
}
.menu li:hover{
    font-weight: 800;
}
.championship{
    margin-top: 88px;
}
.championship h1{
    font-size: 16px;
    font-family: Open sans;

}
.raddio_input{
    margin-top: 10px;
}
.raddio_input .no{
    margin-left: 15px;
}


.character img{
    width: 100px;
    height: 72px;

}


.wrong{
color: red;
}

