@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,500;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --HeaderPurple : #7025FB;
    --Orange: #FD5334;
}

/* section --2 Content Section */
#section--2{
    background-color: var(--Orange)
}
/* section --3 Right Header Section */
#section--3{
    background-image: url(/Picture/index\ background.png);
}
/* section --4  Registration Section */
#section--4{
    background-color: var(--Orange);
    position: relative;
}
#Get_stared_button{
    position: absolute;
    top: 517px;
    left: 85px;

}
.welcome-Message{
    position: absolute;
    top:181px;
    left: 85px;
}

.welcome-Message h1{
    color: white;
    font-size: 80px;
    font-weight: 800;
    font-family: Nunito;

}
.welcome-Message span{
    display: flex;
    align-items: center;
}
.welcome-Message p{
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: Nunito;
}